/*
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/main.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-black.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-black-dots.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-white.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-white-dots.css');
*/

@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@main/custom.css");

:root {
    --ls-font-family: 'IBM Plex Sans', "方正屏显雅宋简体", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    --ls-main-content-max-width: 950px;
    --ls-tag-text-opacity: 0.6;
    --ls-tag-text-hover-opacity: 0.8;
    --ls-page-text-size: 1em;
    /*--ls-page-title-size: 36px;*/
}

html,
body {
  font-size: 1em;
}

h1.title {
	margin-bottom: 1rem;
	font-weight: 900;
	font-size: 48px !important;
	font-family: "Arial Black" !important;
	padding: 0px;
	line-height: 3rem;
	text-align: left;
}

/* self defined tags */
a.tag[data-ref] {
  align-items: center;
  background: rgba(26, 188, 156, 1);
  border-radius: 1rem 0.4rem 0.4rem 1rem;
  color: #282a36;
  display: inline-flex;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 0.8rem;
  padding: 0.2rem 0.3rem;
  text-transform: uppercase;
  transition: .3s;
  white-space: nowrap;
}

a.tag[data-ref]:hover {
  filter: grayscale(25%) !important;
}

a.tag[data-ref]:before {
  background-color: #282a36;
  border-radius: 50%;
  content: '🏷️';
  display: inline-block;
  height: 0.6rem;
  line-height: 0.8rem;
  margin-right: 20px;/*0.6rem;*/
  width: 0rem;
}

a.tag[data-ref="Idea"] {
  background: rgba(241, 196, 15, 1) !important;
  color: #fff !important;
  padding: 2px 2px;
  line-height: 1.2em;
  font-weight: 500;
}
a.tag[data-ref="Idea"]:hover {
  background: rgba(241, 196, 15, 1) !important;
  color: #27352b !important;
  padding: 2px 2px;
  line-height: 1.2em;
  font-weight: 500;
}

a.tag[data-ref="KnowHow"] {
  background: #ffc82a !important;
  color: #fff !important;
  /*
  background-color: rgba(52, 152, 219, 1) !important;
  padding: 2px 2px;
  line-height: 1.2em;
  font-weight: 500;
  */
}
/*
a.tag[href*="KnowHow"]:hover {
  background: #ffc82a !important;
  color: #27352b !important;
  padding: 2px 2px;
  line-height: 1.2em;
  font-weight: 500;
}
*/